<!-- partial-home.html -->

<div class="jumbotron text-center">
    <h1>Total Days Calculator</h1>
    <p>This page uses a simple POJO for calculating total days between two dates.<br>POJO exposed by a Spring Boot Application with an embedded Servlet.</p>

    <div class="row">

        <form novalidate class="simple-form">
            Date 1: <input type="date" ng-model="d1" /><br />
            Date 2: <input type="date" ng-model="d2" /><br />
            <input type="button" ng-click="calc()" value="Calculate" />
        </form>

        <div class="panel-body">
            <p>Total Number of days: {{totalDays}}</p>
        </div>

    </div>

</div>