<div class="jumbotron text-center">

<h1>Pioneer Controls</h1>

    <div class="row">
        <div class="panel-body">
            <p>Power Status:
                <input bs-switch ng-model="powerStatus" type="checkbox">
            </p>
        </div>

        <!--<input-->
                <!--bs-switch-->
                <!--ng-model="isSelected"-->
                <!--type="checkbox"-->
                <!--switch-active="{{ isActive }}"-->
                <!--switch-on-text="{{ onText }}"-->
                <!--switch-off-text="{{ offText }}"-->
                <!--switch-on-color="{{ onColor }}"-->
                <!--switch-off-color="{{ offColor }}"-->
                <!--switch-animate="{{ animate }}"-->
                <!--switch-size="{{ size }}"-->
                <!--switch-label="{{ label }}"-->
                <!--switch-icon="{{ icon }}"-->
                <!--switch-radio-off="{{ radioOff }}"-->
                <!--switch-label-width="{{ labelWidth }}"-->
                <!--switch-handle-width="{{ handleWidth }}"-->
                <!--switch-wrapper="{{ wrapper }}"-->
                <!--ng-true-value="'yep'"-->
                <!--ng-false-value="'nope'"-->
                <!--switch-inverse="{{ !inverse }}">-->


    </div>

</div>